.slide {
    position: fixed;
    width: 13rem;
    background: #212121;
    height: 100vh;
}
.slide-container {
    padding-top: 4rem;
    color: white;
    padding-left: 1rem;
}
.slide-list {
    list-style: none;
}